---
////////////////////////////////////////////////////////////////////////////////
// /src/pages/project/[project].astro //////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
// Generates pages for each project in `/src/project`.
// Pages will be @ path `/project/[slug]`, `[slug]` being the slug specified in
// the frontmatter of each project article.

import ArticleProfile from "../../components/ArticleProfile.astro";
import NNImage from "../../components/NNImage.astro";
import Tag from "../../components/Tag.astro";
import Tooltip from "../../components/Tooltip.astro";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const projects = await Astro.glob("../../project/*.mdx");
  return (await projects).map(project => ({
    params: {
      project: project.frontmatter.slug
    },
    props: {
      project
    }
  }))
}
const { Content, frontmatter } = Astro.props.project;

// `project-tray` visibility:
let projectTrayClasses = "project-tray";
const projectTrayVisibility = (
  frontmatter.github ||
  frontmatter.license
);
if (!projectTrayVisibility) {
  projectTrayClasses += "hidden";
}
---

<Layout 
  title={frontmatter.headTitle ? frontmatter.headTitle : frontmatter.title}
  currentPage={"projects"}
>
  <article class="project-article">
      <div class={projectTrayClasses}>
        {frontmatter.github &&
          <a 
            href={frontmatter.licenseLink}
            target="_blank"
            class="tooltip button round secondary"
          >
            <Tooltip 
              id="project-license-tooltip"
              content={frontmatter.license}
              position="bottom"
            />
            <i class="fa-solid fa-scale-balanced"></i>
          </a>
          <a 
            href={frontmatter.github}
            target="_blank"
            class="button tooltip round secondary"
          >
            <Tooltip 
              id="project-github-tooltip"
              content="GitHub repository"
              position="bottom"
            />
            <i class="fa-brands fa-github"></i>
          </a>
        }
      </div>
    <header>
      <div class="project-header">
        <h1>{frontmatter.title}</h1>
        <p class="description">{frontmatter.description}</p>
        {frontmatter.tags &&
          <ul class="tags">
            {frontmatter.tags.map((tag) =>
              <Tag
                prefix="projects"
                tag={tag}
              />
            )}
          </ul>
        }
      </div>
      <NNImage
        src={frontmatter.img}
        alt={frontmatter.imgAlt}
        straightCorners={true}
        expandable={false}
        link={frontmatter.link}
      />
    </header>
    <div class="content">
      <Content />
    </div>
    <ArticleProfile
      article="project"
    />
  </article>
</Layout>

<style>
  .project-article header .project-header {
    padding-bottom: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 1rem;
  }

  .project-header h1, .project-header .description {
    text-align: center;
  }

  .project-header .description {
    font-style: italic;
  }

  .project-tray {
    border-top-left-radius: 2.7rem;
    border-top-right-radius: 2.7rem;
    box-shadow: var(--noonoo_protrusion_bright);
    display: flex;
    gap: 0.8rem;
    padding-bottom: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
    justify-content: right;
  }
</style>