---
////////////////////////////////////////////////////////////////////////////////
// /src/pages/blog/[...page].astro /////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
// Generates paginated indices for all blog posts in `/src/blog`.
// Pages will be @ `/blog/#`, `#` being the index of the blog.

import { Debug } from 'astro/components';
import Layout from '../../layouts/Layout.astro'; 
import BlogCard from '../../components/BlogCard.astro';
import Pagination from '../../components/Pagination.astro';
import Header from '../../components/Header.astro';

export async function getStaticPaths({ paginate }) {
  const blogPosts = await Astro.glob("../../blog/*.mdx");
  return paginate(blogPosts, { pageSize: 8 });
}

const { page } = Astro.props;
---

<Layout
  title="Joel Elizaga | Blog"
  currentPage={"blog"}
>
  <Header
    heading="Blog"
    headingIcon="fa-solid fa-atlas"
    bgSrc="/img/placeholder/placeholder2.jpg"
    slug="/blog"
  />
  <main>
    <section class="centered">
      <ul class="blog">
        {page.data.map(blogPost => (
          <BlogCard
            slug={`/blog/${blogPost.frontmatter.slug}`}
            title={blogPost.frontmatter.title}
            description={blogPost.frontmatter.description}
            img={blogPost.frontmatter.img}
            pubDate={blogPost.frontmatter.pubDate}
            tags={blogPost.frontmatter.tags}
          />
        ))}
      </ul>
      <Pagination
        path={"blog"}
        currentPage={page.currentPage}
        lastPage={page.lastPage}
        prevPage={page.url.prev}
        nextPage={page.url.next}
        totalPosts={page.total}
        firstItemOnPage={page.start}
        lastItemOnPage={page.end}
      />
    </section>
  </main>
</Layout>

<style>
  .blog {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
</style>