---
////////////////////////////////////////////////////////////////////////////////
// /src/pages/blog/[blog].astro ////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
// Generates pages for each blog post in `/src/blog`.
// Pages will be @ path `/blog/[slug]`, `[slug]` being the slug specified in the
// frontmatter of the blog post.

import Layout from "../../layouts/Layout.astro";
import NNImage from "../../components/NNImage.astro";
import Tag from "../../components/Tag.astro";
import Tooltip from "../../components/Tooltip.astro";
import { updateTSConfigForFramework } from "astro/dist/core/config";
import BlogProfile from "../../components/BlogProfile.astro";

export async function getStaticPaths() {
  const blogPosts = await Astro.glob("../../blog/*.mdx");
  return (await blogPosts).map(blog => ({
    params: {
      blog: blog.frontmatter.slug
    },
    props: {
      blog
    }
  }))
}

const { Content, frontmatter } = Astro.props.blog;
---

<Layout 
  title={frontmatter.headTitle ? frontmatter.headTitle : frontmatter.title}
  description={frontmatter.description}
  currentPage={"blog"}
>
  <main>
    <article class="blog-article noonoo-protruding-card">
      <header>
        <div class="content">
          <a 
            class="rss-button tooltip"
            aria-labelledby="rss"
            href="rss.xml"
            target="_blank"
          >
            <i class="fa-solid fa-rss"></i>
            <Tooltip
              id="rss"
              content="RSS Feed"
            />
          </a>
          <p class="date subheading">
            <span class="tooltip">
              pub. {new Date(frontmatter.pubDate).toLocaleDateString()}
            </span>
            {frontmatter.upDate &&
              `/ upd. ${new Date(frontmatter.upDate).toLocaleDateString()}`
            }
          </p>
          <h1>{frontmatter.title}</h1>
          <p class="description">
            {frontmatter.description}
          </p>
          {frontmatter.tags &&
            <ul class="tags">
              {frontmatter.tags.map((tag) =>
                <Tag
                  prefix="blog"
                  tag={tag}
                />
              )}
            </ul>
          }
        </div>
        <NNImage
          src={frontmatter.img}
          alt={frontmatter.imgAlt}
          straightCorners={true}
          expandable={false}
        />
      </header>
      <div class="content">
        <Content />
      </div>
      <BlogProfile />
    </article>
  </main>
</Layout>

<style>
  .blog-article header .date {
    color: var(--lawetlatla_ash_bright);
    margin: 0;
  }

  .rss-button {
    align-items: center;
    float: right;
    background-image: var(--noonoo_protrusion_rounded_bright);
    border-radius: 100%;
    box-shadow: var(--noonoo_protrusion_bright);
    color: var(--lawetlatla_ash_dim);
    display: flex;
    height: 1.5rem;
    justify-content: center;
    position: relative;
    transition: box-shadow 0.1s ease-in;
    width: 1.5rem;
  }

  .rss-button:active {
    box-shadow: var(--noonoo_protrusion_bright), var(--noonoo_depression_bright);
  }

  .blog-article header .description {
    margin: 0;
  }
</style>