---
import Layout from '../layouts/Layout.astro';
import BlogPostCard from "../components/BlogPostCard.astro";

const blogPosts = await Astro.glob("../blog/*.mdx");
---

<Layout
	title="Joel Elizaga | Blog"
	currentPage={"blog"}
>
	<main>
		<h1><i class="fa-solid fa-atlas"></i> Blog</h1>
		<ul class="blog">
			{blogPosts.map(blogPost => (
				<BlogPostCard
					slug={`/${blogPost.frontmatter.slug}`}
					title={blogPost.frontmatter.title}
					description={blogPost.frontmatter.description}
					img={blogPost.frontmatter.img}
					date={blogPost.frontmatter.date}
					tags={blogPost.frontmatter.tags}
				/>
			))}
		</ul>
	</main>
</Layout>

<style>
	.blog {
		list-style: none;
		margin: 0;
		padding: 0;
	}
</style>