---
////////////////////////////////////////////////////////////////////////////////
// /src/pages/projects/focus/[tag].astro ///////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
// Generates pages @ `/blog/projects/[tag]` for every unique project article
// tag.

import Layout from "../../../layouts/Layout.astro";
import ProjectCard from "../../../components/ProjectCard.astro";
import ProjectsGrid from "../../../components/ProjectsGrid.astro";
import Header from "../../../components/Header.astro";

export async function getStaticPaths() {
  const projects = await Astro.glob("../../../project/*.mdx");
  const uniqueTags = [...new Set(projects.map((project) => project.frontmatter.tags).flat())];
  return uniqueTags.map((tag) => {
    const tagSpecificProjects = projects.filter((project) => project.frontmatter.tags.includes(tag));
    return {
      params: { tag },
      props: { projects: tagSpecificProjects },
    };
  })
}

const { tag } = Astro.params;
const { projects } = Astro.props;

const title = `Joel Elizaga | Projects | ${tag}`;
---

<Layout
  title={title}
  currentPage={"projects"}
>
  <Header
    heading="Projects"
    headingIcon="fa-solid fa-compass-drafting"
    focus={tag}
    bgSrc="/img/cinemagraph/desktop.mp4"
    slug="/projects"
    animated={true}
  />
  <section class="centered">
    <ProjectsGrid
      projects={projects}
    />
  </section>
</Layout>