---
import Tag from './Tag.astro';
import Tooltip from './Tooltip.astro';

export interface Props {
	slug: string;
	title: string;
	description: string;
	img: string;
	imgAlt?: string;
	pubDate: string;
	tags?: string[];
}

const { 
	slug, 
	title,
	description,
	img,
	imgAlt = "Image accenting this blog post",
	pubDate,
	tags
} = Astro.props as Props;
---

<li class="blog-card">
	<div class="blog-card-img">
		<a href={slug}>
			<img src={img} alt={imgAlt}>
		</a>
	</div>
	<div class="blog-card-details">
		<a href={slug}>
			<h2>{title}</h2>
			<p class="subheading date">{new Date(pubDate).toLocaleDateString()}</p>
			<p>{description}</p>
		</a>
		{tags &&
			<ul class="tags">
				{tags.map((tag) =>
					<Tag
						prefix="blog"
						tag={tag}
					/>
				)}	
			</ul>	
		}
	</div>
</li>

<style>
	.blog-card {
		background-color: var(--tahoma_white_dim);
		border-radius: 1.4rem;
		box-shadow: var(--noonoo_protrusion_bright);
		display: grid;
		grid-template-columns: var(--pct_golden_ratio_small) auto;
		overflow: hidden;
		width: 100%;
	}

	.blog-card-img {
		overflow: hidden;
	}

	.blog-card-img img { 
		height: 100%;
		object-fit: cover;
		transition: height 0.2s;
	}

	.blog-card-details h2 {
		color: var(--lawetlatla_ash_dim);
		font-size: clamp(26px, 2.03125vw, 2.03125vw);
		line-height: clamp(42px, 3.3333vw, 3.3333vw);
		transition: color 0.1s ease-in, text-shadow 0.1s ease-in;
	}

	.blog-card-details .date {
		color: var(--lawetlatla_ash_bright);
		text-shadow: none;
	}

	.blog-card-details p {
		color: var(--lawetlatla_ash_dim);
		text-shadow: none;
	}

	.blog-card .blog-card-details a {
		display: block;
		padding-left: 2rem;
		padding-right: 2rem;
		padding-top: 1rem;
	}

	.blog-card .blog-card-details .tags {
		padding-bottom: 1rem;
		padding-left: 2rem;
		padding-right: 2rem;
	}

	.blog-card .blog-card-details a:hover p {
		text-shadow: none !important;
	}

	a:visited .blog-card-details h2 {
		color: var(--lawetlatla_ash_dim);
	}

	a:visited .blog-card-details p {
		color: var(--lawetlatla_ash_dim);
	}

	a:visited .blog-card-details .date {
		color: var(--lawetlatla_ash_bright);
	}

	.blog-card:hover .blog-card-details h2 {
		color: var(--spectacular_red_bright);
		text-shadow: var(--spectacular_red_glowing);
	}

	.blog-card:hover .blog-card-details .date {
		color: var(--lawetlatla_ash_bright);
	}

	.blog-card:hover .blog-card-details p {
		color: var(--lawetlatla_ash_dim);
		text-shadow: none !important;
	}

	.blog-card:hover .blog-card-img img {
		height: 102%;
	}

	@media screen and (max-width: 750px) {

		.blog-card {
			grid-template-columns: auto;
		}

	}
</style>
