---
import Tag from './Tag.astro';
import Tooltip from './Tooltip.astro';

export interface Props {
	slug: string;
	title: string;
	description: string;
	img: string;
	imgAlt?: string;
	pubDate: string;
	tags?: string[];
}

const { 
	slug, 
	title,
	description,
	img,
	imgAlt = "Image accenting this blog post",
	pubDate,
	tags
} = Astro.props as Props;
---

<li class="blog-post-card noonoo-protruding-card">
	<div class="blog-post-card-img">
		<a href={slug}>
			<img src={img} alt={imgAlt}>
		</a>
	</div>
	<div class="blog-post-card-details">
		<a href={slug}>
			<h4>{title}</h4>
			<p class="subheading date">{new Date(pubDate).toLocaleDateString()}</p>
			<p>{description}</p>
		</a>
		{tags &&
			<ul class="tags">
				{tags.map((tag) =>
					<Tag
						prefix="blog"
						tag={tag}
					/>
				)}	
			</ul>	
		}
	</div>
</li>

<style>
	.blog-post-card {
		background-color: var(--tahoma_white_dim);
		border-radius: 1.4rem;
		box-shadow: var(--noonoo_protrusion_bright);
		display: grid;
		grid-template-columns: 38.197% auto;
		overflow: hidden;
		width: 100%;
	}

	.blog-post-card-img {
		overflow: hidden;
	}

	.blog-post-card-img img { 
		height: 100%;
		object-fit: cover;
		transition: height 0.2s;
	}

	.blog-post-card-details h4 {
		color: var(--lawetlatla_ash_dim);
		transition: color 0.1s, text-shadow 0.1s;
	}

	.blog-post-card-details .date {
		color: var(--lawetlatla_ash_bright);
	}

	.blog-post-card-details p {
		color: var(--lawetlatla_ash_dim);
	}

	.blog-post-card .blog-post-card-details {
		text-decoration: none;
		text-shadow: none;
	}

	.blog-post-card .blog-post-card-details a {
		display: block;
		padding-left: 2rem;
		padding-right: 2rem;
		padding-top: 1rem;
	}

	.blog-post-card .blog-post-card-details .tags {
		padding-bottom: 1rem;
		padding-left: 2rem;
		padding-right: 2rem;
	}

	a:visited .blog-post-card-details h4 {
		color: var(--lawetlatla_ash_dim);
	}

	a:visited .blog-post-card-details p {
		color: var(--lawetlatla_ash_dim);
	}

	a:visited .blog-post-card-details .date {
		color: var(--lawetlatla_ash_bright);
	}

	.blog-post-card:hover .blog-post-card-details h4 {
		color: var(--spectacular_red_bright);
		text-shadow: var(--spectacular_red_glowing);
	}

	.blog-post-card:hover .blog-post-card-details .date {
		color: var(--lawetlatla_ash_bright);
	}

	.blog-post-card:hover .blog-post-card-details p {
		color: var(--lawetlatla_ash_dim);
		text-shadow: none;
	}

	.blog-post-card:hover .blog-post-card-img img {
		height: 102%;
	}

	@media screen and (max-width: 750px) {

		.blog-post-card {
			grid-template-columns: auto;
		}

	}
</style>
