---
import Media from './Media/Media.astro';

interface Props {
  heading: string;
  subheading?: string;
  href?: string;
  bgSrc?: string;
  icon?: string;
  mainOffset?: boolean;
}

const {
  heading,
  subheading,
  href,
  bgSrc,
  icon,
  mainOffset = false,
} = Astro.props as Props;
---

<header
  class:list={[
    {"offset": (!mainOffset)}
  ]}
>
  {href &&
    <a
      href={href}
    />
  }
  <div 
    class="heading"
  >
    <h1
      class:list={[
        {"focus": (subheading)}
      ]}
    >
      {icon &&
        <span
          class="icon"
        >
          <i class={icon} />
        </span>
      }
      <span
        class="title"
      >
        {heading}
      </span>
      {subheading &&
        <span 
          class="subtitle"
        >
          {subheading}
        </span>
      }
    </h1>
  </div>
  <div
    class="background"
  >
    {bgSrc &&
      <Media
        src={bgSrc}
      />
    }
  </div>
</header>

<style>
  header {
    display: block;
    height: 11rem;
    overflow: hidden;
    position: relative;
  }

  header.offset {
    height: calc(11rem + 4rem);
  }

  header a {
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 2;
  }

  header div.heading {
    align-items: center;
    display: flex;
    height: 11rem;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: calc(100vw - var(--grid_margin) - var(--grid_margin));
    z-index: 1;
  }

  header.offset div.heading {
    top: 4rem;
  }

  @media screen and (max-width: 750px) {

    header div.heading {
      width: calc(100vw - var(--grid_margin_min) - var(--grid_margin_min));
    }

  }

  header div.heading h1 {
    align-items: center;
    background-color: var(--tahoma_white_dim);
    border-radius: 2.7rem;
    box-shadow: var(--shadow_floating);
    color: var(--lawetlatla_ash_dim);
    display: inline-flex;
    gap: 1rem;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    padding-left: 1rem;
    padding-right: 1rem;
    position: absolute;
    text-align: left;
  }

  header div.heading h1.focus {
    padding-right: 0;
  }

  @media screen and (max-width: 1000px) {

    header div.heading h1.focus {
      font-size: var(--c5_font_size_4);
      line-height: var(--c5_line_height_4);
    }

  }

  @media screen and (max-width: 750px) {

    header div.heading h1.focus {
      font-size: var(--c5_font_size_3);
      line-height: var(--c5_line_height_3);
    }

  }

  header div.heading .icon {
    align-items: center;
    background-image: var(--protrusion_rounded_tahoma_white_dim);
    border-radius: 100%;
    box-shadow: var(--protrusion_tahoma_white_dim);
    display: flex;
    font-size: 0.85em;
    height: 1.3em;
    justify-content: center;
    transition: box-shadow .1s ease-in;
    width: 1.3em;
  }

  header:active div.heading .icon {
    box-shadow: 
      var(--depression_tahoma_white_dim),
      var(--protrusion_tahoma_white_dim);
  }

  header div.heading .icon i {
    color: var(--lawetlatla_ash_bright);
    transition: 0.1s text-shadow ease-in, 0.1s color ease-in;
  }

  header:hover div.heading .icon i {
    color: var(--spectacular_red_glow);
    text-shadow: var(--spectacular_red_glowing);
  }

  header div.heading .subtitle {
    box-shadow: var(--depression_tahoma_white_dim);
    font-weight: normal;
    padding-left: 1rem;
    padding-right: 1.3rem
  }

  header div.background {
    background-color: var(--lawetlatla_ash_dim);
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 0;
  }
</style>