---
interface Props {
  heading: string;
  subheading?: string;
  href?: string;
  bgSrc?: string;
  icon?: string;
}

const {
  heading,
  subheading,
  href,
  bgSrc,
  icon
} = Astro.props as Props;
---

<header
>
  {href &&
    <a
      href={href}
    />
  }
  <h1>
    {icon &&
      <i class={icon} />
    }
    <span
      class="heading"
    >
      {heading}
    </span>
    {subheading &&
      <span 
        class="subheading"
      >
        {subheading}
      </span>
    }
  </h1>
  <div
    class="background"
  >
    {bgSrc &&
      <img 
        src={bgSrc}
        alt=""
      />
    }
  </div>
</header>

<style>
  header {
    display: block;
    position: relative;
  }

  header a {
    height: 100%;
    position: absolute;
    width: 100%;
  }

  header h1 {

  }

  header h1 i {

  }

  header h1 span.heading {

  }

  header h1 span.subheading {

  }
</style>