---
import HyperlinkButton from './HyperlinkButton.astro';

interface Button {
  href?: string;
  target?: string;
  icon: string;
  tooltipContent: string;
  tooltipId: string;
  popup?: string;
}

export interface Props {
  buttons: Button[];
  display?: string;
  buttonDirection?: string;
  alignButtons?: string;
  justifyButtons?: string;
  tooltipPosition?: string;
  id?: string;
}

const {
  buttons,
  display = "flat",
  buttonDirection = "row",
  alignButtons = "center",
  justifyButtons,
  tooltipPosition = "top",
  id,
} = Astro.props as Props;

let hyperlinkButtonsClasses = "hyperlink-buttons";
switch(buttonDirection) {
  case "column":
    hyperlinkButtonsClasses += " column";
    break;
  case "row":
    hyperlinkButtonsClasses += " row";
    break;
}
switch(justifyButtons) {
  case "center":
    hyperlinkButtonsClasses += " center";
    break;
  case "start":
    hyperlinkButtonsClasses += " start";
    break;
  case "end":
    hyperlinkButtonsClasses += " end";
    break;
}

switch(display) {
  case "protruding":
    hyperlinkButtonsClasses += " protruding";
    break;
  case "flat":
    hyperlinkButtonsClasses += " flat";
    break;
}
---

<div id={id} class={hyperlinkButtonsClasses}>
  <div class="container">
    {buttons.map(button => (
      <HyperlinkButton
        href={button.href}
        target={button.target}
        icon={button.icon}
        tooltipContent={button.tooltipContent}
        tooltipId={button.tooltipId}
        tooltipPosition={tooltipPosition}
        popup={button.popup}
      />
    ))}
  </div>
</div>

<style>
  .hyperlink-buttons .container {
    display: flex;
    gap: 0.5rem;
  }

  .hyperlink-buttons.column .container {
    align-items: center;
    flex-direction: column;
    padding-bottom: 0.8rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    padding-top: 0.8rem;
  }

  .hyperlink-buttons.row {
    padding-bottom: 0.4rem;
    padding-top: 0.4rem;
    width: 100%;
  }

  .hyperlink-buttons.row .container {
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }

  .hyperlink-buttons.protruding {
    box-shadow: var(--noonoo_protrusion_bright);
  }

  .hyperlink-buttons.center .container {
    justify-content: center;
  }

  .hyperlink-buttons.start .container {
    justify-content: start;
  }

  .hyperlink-buttons.end .container {
    justify-content: end;
  }
</style>