---
import { PropAliases } from 'solid-js/web';
import PopupButton from './PopupButton';
import Tooltip from './Tooltip.astro';

export interface Props {
  href?: string;
  target?: string;
  icon: string;
  tooltipContent: string;
  tooltipId: string;
  tooltipPosition?: string;
  popup?: string;
}

const {
  href,
  target="_blank",
  icon,
  tooltipContent,
  tooltipId,
  tooltipPosition = "top",
  popup,
} = Astro.props as Props;

let triggeredPopup;
switch(popup) {
  case "ContactPopup":
    triggeredPopup = "ContactPopup";
    break;
}
---

{href &&
  <a
    class="hyperlink-button button rounded tooltip"
    href={href}
    target={target}
    aria-labelledby={tooltipId}
  >
    <i class={icon}></i>
    <Tooltip
      content={tooltipContent}
      id={tooltipId}
      position={tooltipPosition}
    />
  </a>
}

{popup &&
  <PopupButton
    client:load
    popup={popup}
    button={{
      icon: `${icon}`,
      tooltip: {
        id: `${tooltipId}`,
        content: `${tooltipContent}`,
        position: `${tooltipPosition}`
      }
    }}
    class="hyperlink-button rounded button tooltip"
  />
}