---
////////////////////////////////////////////////////////////////////////////////
// IndexProjects.astro /////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
import HeaderBar from "./HeaderBar.astro";
import ProjectCard from "./ProjectCard.astro";

export interface Props {
  projects?: object[];
  limit?: number;
}

const {
  projects = (await Astro.glob("../project/*.mdx")),
  limit,
} = Astro.props as Props;


const nonDraftProjects = projects.filter((project) => !project.frontmatter.draft);
---

<div id="projects">
  <header>
    <h2>
      <i class="fa-solid fa-drafting-compass"></i>
      Projects
    </h2>
  </header>
  <ul class="index-project-cards">
    {nonDraftProjects.map(project => (
      <ProjectCard
        slug={`/project/${project.frontmatter.slug}`}
        title={project.frontmatter.title}
        description={project.frontmatter.description}
        img={project.frontmatter.img}
        tags={project.frontmatter.tags}
        presentation="index"
      />
    ))}
  </ul>
</div>

<style>
  #projects {
    border-bottom: 0.4rem solid var(--tahoma_white_dim);
    position: relative;
  }

  #projects header h2 {
    background-color: var(--tahoma_white_dim);
    border-top-left-radius: 2.7rem;
    border-top-right-radius: 2.7rem;
    box-shadow: var(--noonoo_floating_card_shadow);
    cursor: default;
    display: inline-block;
    margin-left: 19.0985%;
    padding-left: 3rem;
    padding-right: 3rem;
    width: fit-content;
  }

  #projects header {
    display: flex;
    flex-direction: column;
    gap: 0;
    position: absolute;
    top: -2.5rem;
    width: 100%;
    z-index: 2;
  }

  .index-project-cards {
    border-top: 0.4rem solid var(--tahoma_white_dim);
    list-style: none;
    padding: 0;
  }

  @media screen and (max-width: 750px) {

    #projects header h2 {
      margin-left: 1rem;
    }

  }
</style>

