---
////////////////////////////////////////////////////////////////////////////////
// Marquee.astro ///////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
// Scrolling marquee.

import type { isAstroComponentInstance } from 'astro/dist/runtime/server/render/astro';
import { toAttributeString } from 'astro/dist/runtime/server/render/util';

// Props ///////////////////////////////////////////////////////////////////////
export interface Props {
  text?: string;
  orientation?: string;
  display?: string;
  direction?: string;
  straightCorners?: boolean;
  margin?: boolean;
  iconMarquee?: boolean;
  icons?: string[];
}
const {
  text,
  direction = "left",
  display = "depressed",
  orientation = "row",
  straightCorners = false,
  margin = true,
  iconMarquee = false,
  icons,
} = Astro.props as Props;

// Classes /////////////////////////////////////////////////////////////////////
let marqueeClasses = "marquee animated";
switch (orientation) {
  case "row":
    marqueeClasses += " row";
    break;
  case "column":
    marqueeClasses += " column";
    break;
}
switch (display) {
  case "depressed":
    marqueeClasses += " depressed";
    break;
  case "flat":
    marqueeClasses += " flat";
    break;
}
switch (direction) {
  case "left":
    marqueeClasses += " left";
    break;
  case "right":
    marqueeClasses += " right";
    break;
}
if (!margin) {
  marqueeClasses += " no-margin";
}
if (straightCorners) {
  marqueeClasses += " straight-corners";
}
---

{!iconMarquee &&
  <div class={marqueeClasses}>
    <div class="marquee-content">
      <span class="marquee-text-a">{text}</span>
    </div>
    <div class="marquee-content">
      <span class="marquee-text-b">{text}</span>
    </div>
  </div>
}

{iconMarquee &&
  <div class={marqueeClasses}>
    <div class="marquee-content icons">
      {icons?.map((icon) =>
        <i class={icon}></i>
      )}
    </div>
    <div class="marquee-content icons">
      {icons?.map((icon) =>
        <i class={icon}></i>
      )}
    </div>
  </div>
}

<style>
  .marquee {
    border-radius: 1.4rem;
    display: flex;
    gap: 0.3rem;
    height: calc(1rem + 0.3rem + 0.3rem);
    overflow: hidden;
    padding-bottom: 0.3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.3rem;
    position: relative;
  }

  .marquee.row {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }

  .marquee.depressed {
    box-shadow: var(--noonoo_depression_bright);
  }

  .marquee.flat {
    box-shadow: none;
  }

  .marquee.no-margin {
    margin: 0;
  }

  .marquee.straight-corners {
    border-radius: 0;
  }

  .marquee-content {
    display: flex;
    flex-shrink: 0;
    gap: 1rem;
    justify-content: space-around;
    min-width: 100%;
  }

  .marquee-content.icons {
    gap: 1.2rem;
    justify-content: start;
  }

  .marquee-content.icons i {
    font-size: 1.2rem;
  }

  .animated.left .marquee-content {
    animation: marquee-scroll-left 180s linear infinite;
  }

  .animated.right .marquee-content {
    animation: marquee-scroll-right 180s linear infinite;
  }

  @keyframes marquee-scroll-left {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - 1rem));
    }
  }

  @keyframes marquee-scroll-right {
    from {
      transform: translateX(calc(-100% - 1rem));
    }
    to {
      transform: translateX(0);
    }
  }
</style>