---
////////////////////////////////////////////////////////////////////////////////
// Nav.astro ///////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
// Site <nav> located in `Masthead`.

export interface Props {
  currentPage?: string;
}

const { currentPage } = Astro.props as Props;

// Determine classes of `Nav` items:
let homeClasses = "";
let bioClasses = "";
let blogClasses = "";
let projectsClasses = "";
switch(currentPage) {
  case "home":
    homeClasses += "selected";
    break;
  case "projects":
    projectsClasses += "selected";
    break;
  case "bio":
    bioClasses += "selected";
    break;
  case "blog":
    blogClasses += "selected";
    break;
}
---


<nav>
  <ul id="nav">
    <li class={projectsClasses}>
      <a href="/projects">
        <span><i class="fa-solid fa-compass-drafting"></i>Projects</span>
      </a>
    </li>
    <li class={bioClasses}>
      <a href="/bio">
        <span><i class="fa-solid fa-face-smile"></i>Bio</span>
      </a>
    </li>
    <li class={blogClasses}>
      <a href="/blog">
        <span><i class="fa-solid fa-atlas"></i>Blog</span>
      </a>
    </li>
  </ul>
  <div class="mobile">
    <a id="mobile-nav-toggle" aria-expanded="false" aria-controls="mobile-nav">
      <i id="mobile-nav-toggle-button" class="fa-solid fa-bars"></i> Menu
    </a>
    <ul id="mobile-nav">
      <li class={homeClasses}>
        <a href="/">
          <span><i>&#10059;</i>Home</span>
        </a>
      </li>
      <li class={projectsClasses}>
        <a href="/projects">
          <span><i class="fa-solid fa-compass-drafting"></i> Projects</span>
        </a>
      </li>
      <li class={bioClasses}>
        <a href="/bio">
          <span><i class="fa-solid fa-face-smile"></i> Bio</span>
        </a>
      </li>
      <li class={blogClasses}>
        <a href="/blog">
          <span><i class="fa-solid fa-atlas"></i> Blog</span>
        </a>
      </li>
    </ul>
  </div>
</nav>

<script>
  const mobileNavToggle = document.getElementById("mobile-nav-toggle");
  const mobileNav = document.getElementById("mobile-nav");
  const mobileNavToggleButton = document.getElementById("mobile-nav-toggle-button");
  mobileNavToggle.addEventListener("click", () => {
    console.log(getComputedStyle(mobileNav).display);
    if (getComputedStyle(mobileNav).display === "none") {
      mobileNav.style.display = "block";
      mobileNavToggleButton.classList.remove("fa-bars");
      mobileNavToggleButton.classList.add("fa-x");
    } else {
      mobileNav.style.display = "none";
      mobileNavToggleButton.classList.remove("fa-x");
      mobileNavToggleButton.classList.add("fa-bars");
    }
  })
</script>

<style>
  #nav {
    display: flex;
    gap: 0.25rem;
    justify-content: start;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  #mobile-nav, #mobile-nav-hr {
    display: none;
  }

  #nav a, #nav a:visited, #mobile-nav a, #mobile-nav a:visited, #mobile-nav-toggle, #mobile-nav-toggle i {
    color: var(--lawetlatla_ash_dim);
    font-weight: bold;
  }

  #nav a:hover, #mobile-nav a:hover, #mobile-nav a:hover i, #mobile-nav-toggle:hover, #mobile-nav-toggle:hover i {
    color: var(--spectacular_red_bright);
    text-shadow: var(--spectacular_red_glowing);
  }

  #nav li {
    display: inline-block;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
  }

  #nav li a {
    display: inline-block;
    height: inherit;
    transition: color 0.1s, text-shadow 0.1s;
    width: inherit;
  }

  #nav li a i {
    display: none;
  }

  .selected, .selected:visited {
    color: var(--lawetlatla_ash_bright);
  }

  .selected:hover {
    color: var(--spectacular_red_bright);
  }

  #nav li a span:active {
    box-shadow: var(--noonoo_depression_bright);
  }

  #nav li span {
    border-radius: 1.4rem;
    padding-bottom: 0.3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.3rem;
    transition: box-shadow ease-in 0.1s;
  }

  #nav .selected span {
    box-shadow: var(--noonoo_depression_bright);
  }

  #mobile-nav-toggle {
    cursor: pointer;
    display: none;
    flex-direction: row;
    font-size: 1.3rem;
    gap: 1rem;
    justify-content: center;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
  }

  #mobile-nav-toggle i, #mobile-nav i {
    align-content: center;
    align-items: center;
    background-image: var(--noonoo_protrusion_rounded_bright);
    border-radius: 100%;
    box-shadow: var(--noonoo_protrusion_bright);
    color: var(--lawetlatla_ash_dim);
    display: flex;
    font-size: 1rem;
    height: 2rem;
    justify-content: center;
    text-decoration: none;
    text-decoration-line: none;
    transition: box-shadow ease-in 0.1s;
    width: 2rem;
  }

  #mobile-nav-toggle:active i, #mobile-nav li:active i {
    box-shadow: var(--noonoo_depression_bright), var(--noonoo_protrusion_bright);
  }

  @media screen and (max-width: 1200px) {

    #nav li {
      font-size: 1.3rem;
    }

    #nav li span {
      padding-bottom: 0.4rem;
      padding-left: 1.4rem;
      padding-right: 1.4rem;
      padding-bottom: 0.4rem;
    }
  }

  @media screen and (max-width: 640px) {

    nav {
      width: 100%;
    }

    #nav {
      display: none;
    }

    #mobile-nav-toggle {
      display: flex;
    }

    #mobile-nav {
      box-shadow: var(--noonoo_depression_bright);
      margin-top: 0;
      margin-bottom: 1rem;
      padding: 0;
    }

    #mobile-nav li {
      display: block;
      font-size: 1.3rem;
      width: 100%;
    }

    #mobile-nav li a {
      display: block;
      height: inherit;
      padding-bottom: 0.75rem;
      padding-top: 0.75rem;
      width: 100%;
    }

    #mobile-nav li a span {
      display: flex;
      gap: 0.8rem;
      margin-left: auto;
      margin-right: auto;
      width: 95vw;
    }

    #mobile-nav .selected i {
      box-shadow: var(--noonoo_depression_bright), var(--noonoo_protrusion_bright);           
      color: var(--lawetlatla_ash_bright);
    }

  }
</style>