---
////////////////////////////////////////////////////////////////////////////////
// NNImage.astro ///////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
// Noonoo image component.
// Can be customized to display a slideshow, run looping animated images/videos,
// have rounded or straight corners, and be displayed as a protrusion,
// depression, card, or flat.

import { Image } from '@astrojs/image/components';

export interface Props {
  src: string,
  alt: string,
  caption?: string,
  animated?: boolean,
  straightCorners?: boolean,
  expandable?: boolean,
  display?: string
}

const { 
  src,
  alt,
  caption,
  animated = false,
  straightCorners = false,
  expandable = true,
  display = "depressed"
} = Astro.props as Props;

// Determine how image is displayed:
let imageClasses = "noonoo-image";
let containerClasses = "container";
// Corners:
if (straightCorners) {
  containerClasses += " straight-corners";
} else {
  imageClasses += " round-corners";
  containerClasses += " round-corners";
}
// Caption:
if (caption) {
  imageClasses += " captioned";
  containerClasses += " captioned";
}
// Neumorphic shape:
switch(display) {
  case "depressed":
    containerClasses += " depressed";
    break;
  case "protruding":
    imageClasses += " protruding";
    containerClasses += " protruding";
    break;
  case "flat":
    containerClasses += " flat";
    break;
}

// Determine caption visibility:
let captionClass = "caption";
if (!caption) {
  captionClass += " hidden";
}
---

<div class={imageClasses}>
  <a href={expandable && src}>
    <div class={containerClasses}>
      {!animated &&
        <img src={src} alt={alt} />
      }
      {animated &&
        <video autoplay loop muted src={src}></video>
      }
    </div>
  </a>
  <p class={captionClass}>{caption}</p>
</div>