---
import { Image } from '@astrojs/image/components';

export interface Props {
  src: string
  alt: string
  caption?: string
  animated?: boolean
}

const { 
  src,
  alt,
  caption,
  animated=false
} = Astro.props as Props;

let captionClass = "caption";
if (!caption) {
  captionClass += " hidden";
}
---

<div class="noonoo-image">
  <a href={src}>
    <div class="container">
      {!animated &&
        <img src={src} alt={alt} />
      }
      {animated &&
        <video autoplay loop muted src={src}></video>
      }
    </div>
  </a>
  <p class={captionClass}>{caption}</p>
</div>

<style>
  .noonoo-image {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }

  .noonoo-image .container {
    border-radius: 1.4rem;
    overflow: hidden;
    position: relative;
    display: block;
  }

  .noonoo-image .container::before {
    border-radius: 1.4rem;
    box-shadow: var(--noonoo_depression_img);
    overflow: hidden;
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
  }

  .noonoo-image .container img, .noonoo-image .container video {
    display: block;
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  .noonoo-image .caption {
    margin-left: 0.33rem;
    margin-right: 0.33rem;
    margin-top: 0.25rem;
  }
</style>