---
import Tag from './Tag.astro';

export interface Props {
	slug: string;
	title: string;
	description: string;
	img: string;
	tags: string[];
}

const { 
	slug, 
	title,
	description,
	img,
	tags
} = Astro.props as Props;
---

<li class="project-card noonoo-protruding-card">
	<div class="project-card-img">
		<a href={slug}>
			<img src={img}>
		</a>
	</div>
	<div class="project-card-details">
		<a href={slug}>
			<h4>{title}</h4>
			<p class="caption">{description}</p>
		</a>
	</div>
	{tags &&
		<ul class="tags">
			{tags.map((tag) =>
				<Tag
					prefix="projects"
					tag={tag}
				/>
			)}	
		</ul>	
	}
</li>