---
import Tag from './Tag.astro';

export interface Props {
	slug: string;
	title: string;
	description: string;
	img: string;
	tags: string[];
	presentation: string;
}

const { 
	slug, 
	title,
	description,
	img,
	tags,
	presentation = "grid"
} = Astro.props as Props;
---

{presentation === "grid" &&
	<li class="project-card">
		<div class="project-card-img">
			<a href={slug}>
				<img src={img}>
			</a>
		</div>
		<div class="project-card-details">
			<a href={slug}>
				<h4>{title}</h4>
				<p class="caption">{description}</p>
			</a>
		</div>
		{tags &&
			<ul class="tags">
				{tags.map((tag) =>
					<Tag
						prefix="projects"
						tag={tag}
					/>
				)}	
			</ul>	
		}
	</li>
}

{presentation === "index" &&
	<li class="project">
		<div class="project-bg">
			<img
				src={img}
			/>
		</div>
		<div class="container">
			<a class="bottom-a" href={slug}></a>
			<a class="left-a" href={slug}></a>
			<a class="right-a" href={slug}></a>
			<a class="top-a" href={slug}></a>
			<div class="project-card">
				<div class="project-card-img">
					<a href={slug}>
						<img src={img}>
					</a>
				</div>
				<div class="project-card-details">
					<a href={slug}>
						<h4>{title}</h4>
						<p class="caption">{description}</p>
					</a>
				</div>
				{tags &&
					<ul class="tags">
						{tags.map((tag) =>
							<Tag
								prefix="projects"
								tag={tag}
							/>
						)}
					</ul>
				}
			</div>
		</div>
	</li>
}