---
export interface Props {
	slug: string;
	title: string;
	description: string;
	img: string;
	tags: string[];
}

const { 
	slug, 
	title,
	description,
	img,
	tags
} = Astro.props as Props;
---

<li class="project-card noonoo-protruding-card">
	<div class="project-card-img">
		<a href={slug}>
			<img src={img}>
		</a>
	</div>
	<div class="project-card-details">
		<a href={slug}>
			<h4>{title}</h4>
			<p class="caption">{description}</p>
		</a>
	</div>
	{tags &&
		<ul class="tags">
			{tags.map((tag) =>
				<li class="tag">
					{tag}
				</li>
			)}	
		</ul>	
	}
</li>

<style>
	.project-card {
		background-color: var(--tahoma_white_dim);
		display: grid;
		grid-template-rows: auto auto;
		overflow: hidden;
	}

	.project-card-img {
		overflow: hidden;
	}

	.project-card-img img {
		height: 100%;
		object-fit: cover;
		transition: height 0.2s;
	}

	.project-card-details h4 {
		color: var(--lawetlatla_ash_dim);
	}

	.project-card-details .caption {
		color: var(--lawetlatla_ash_bright);
	}

	.project-card-details a {
		box-sizing: border-box;
		display: block;
		height: 100%;
		text-decoration: none;
		text-shadow: none;
		padding-left: 2rem;
		padding-right: 2rem;
		padding-top: 1rem;
		width: 100%;
	}

	.project-card .tags {
		padding-bottom: 1rem;
		padding-left: 2rem;
		padding-right: 2rem;
	}

	.project-card-details a p {
		text-shadow: none;
	}

	.project-card-details a h4 {
		transition: color 0.1s ease-in;
	}

	.project-card:hover .project-card-details a h4 {
		color: var(--spectacular_red_bright);
	}

	.project-card:hover img {
		height: 102%;
	}
</style>
