---
import Masthead from '../components/Masthead.astro';
import Footer from '../components/Footer.astro';
import { Image, Picture } from '@astrojs/image/components';
import { Prism } from "@astrojs/prism";
import "../style/main.css";
import "../style/code.css";

export interface Props {
	title: string;
	description?: string;
	currentPage?: string;
	headerShadow?: boolean;
	footerShadow?: boolean;
}

const { title, description, currentPage, headerShadow, footerShadow } = Astro.props as Props;

---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta property="og:title" content={title} />
		<meta name="twitter:title" content={title} />
		<meta name="author" content="Joel Elizaga, joel@elizaga.org" />
		<meta name="description" content={description} />
		<link rel="icon" href="/img/favicon/favicon.ico" sizes="any" />
		<link rel="icon" href="/img/favicon/favicon.svg" type="image/svg+xml" />
		<link rel="apple-touch-icon" href="/img/favicon/favicon-180.png" />
		<link rel="manifest" href="../manifest.webmanifest">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<script
			src="https://kit.fontawesome.com/7e674bd397.js"
			crossorigin="anonymous"
		></script>
	</head>
	<body id="swup">
		<Masthead
			currentPage={currentPage}
			headerShadow={headerShadow}
		/>
		<slot />
		<Footer
			footerShadow={footerShadow}
		/>
	</body>
</html>