---
import Masthead from '../components/Masthead/Masthead.astro';
import Footer from '../components/Footer/Footer.astro';
import { Image, Picture } from '@astrojs/image/components';
import { Prism } from "@astrojs/prism";
import "../style/main.css";
import "../style/media.css";
import "../style/popup.css";
import "../style/code.css";

export interface Props {
	title: string;
	description?: string;
	current?: string;
}

const { 
	title, 
	description, 
	current
} = Astro.props as Props;

---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta property="og:title" content={title} />
		<meta name="twitter:title" content={title} />
		<meta name="author" content="Joel Elizaga, joel@elizaga.io" />
		<meta name="description" content={description} />
		<link rel="icon" href="/img/favicon/favicon.ico" sizes="any" />
		<link rel="icon" href="/img/favicon/favicon.svg" type="image/svg+xml" />
		<link rel="apple-touch-icon" href="/img/favicon/favicon-180.png" />
		<link rel="manifest" href="../manifest.webmanifest">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<script
			src="https://kit.fontawesome.com/7e674bd397.js"
			crossorigin="anonymous"
		></script>
		<link href="/font/fontawesome-free-6.2.1-web/css/fontawesome.min.css" rel="stylesheet">
		<link href="/font/fontawesome-free-6.2.1-web/css/brands.min.css" rel="stylesheet">
		<link href="/font/fontawesome-free-6.2.1-web/css/solid.min.css" rel="stylesheet">
		<link href="/font/devicon/devicon.min.css" rel="stylesheet">
	</head>
	<body>
		<Masthead
			current={current}
		/>
		<main>
			<slot />
		</main>
	</body>
</html>
